@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Đổi mật khẩu";
}

<h1>@ViewData["Title"].</h1>

<div class="mdk-header-layout__content page-content ">

    <div class="page-section pb-0">
        <div class="container page__container d-flex flex-column flex-sm-row align-items-sm-center">
            <div class="flex">
                <h1 class="h2 mb-0">Change Password</h1>
                <p class="text-breadcrumb">Account Management</p>
            </div>
            <p class="d-sm-none"></p>
            <a href="" class="btn btn-outline-secondary flex-column">
                Need Help?
                <span class="btn__secondary-text">Contact us</span>
            </a>
        </div>
    </div>

    <div class="page-section">
        <div class="container page__container">
            <div class="page-separator">
                <div class="page-separator__text">Change Password</div>
            </div>
            <form asp-controller="Manage" asp-action="ChangePassword" method="post" class="form-horizontal" role="form" class="col-sm-5 p-0">
                <div class="form-group">
                    <label class="form-label" asp-for="OldPassword" control-label>Password:</label>
                    <input asp-for="OldPassword" type="password" class="form-control" placeholder="Type a old password ...">
                </div>
                <div class="form-group">
                    <label class="form-label" asp-for="NewPassword" control-label>Confirm Password:</label>
                    <input asp-for="NewPassword" type="password" class="form-control"
                        placeholder="Type a new password ...">
                </div>
                <div class="form-group">
                    <label class="form-label" asp-for="ConfirmPassword" control-label>Confirm Password:</label>
                    <input asp-for="ConfirmPassword" type="password" class="form-control"
                        placeholder="Confirm your new password ...">
                </div>
                <button type="submit" class="btn btn-primary">Save password</button>
            </form>
        </div>
    </div>

</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
